
{% extends 'teammember/main.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'teammember/mainbar.html' %}
    
    <script>
       document.getElementsByName('phone')[0].onkeyup = function(e) {
  phone_number_check(this,e);
}
$('[for="id_choice_1"]').css("opacity", "0.5");
$("#id_choice_0").prop("checked", true);
$("#id_choice_0").click(function(){toggleMenuClick()} )
$("#id_choice_1").click(function(){toggleMenuClick1()})
</script>
</div>
</div>
{% endblock content %}
<script>
    var radio0 = document.getElementById("id_choice_0")
    var radio1 = document.getElementById("id_choice_1")
    radio0.classList.add("float-right");
    radio1.classList.add("float-right");
</script>



