
{% extends 'teammember/main.html' %}
{% load crispy_forms_tags %}
{% load phone %}
{% block content %}

{% include 'teammember/mainbar.html' %}


      <form method="POST" id="delete_id" action="{% url 'delete-people' form.instance.id %}">
        {% csrf_token %}<input style="border-color:whitesmoke;" class="btn btn-outline-danger float-left" type="submit" value="DELETE">
     </form>
    
    
     <script>
       phone_slicing()

        document.getElementsByName('phone')[0].onkeyup = function(e) {
        phone_number_check(this,e); }
    
    if (document.getElementById("id_choice_0").checked ==false){
        toggleMenuClick1()

    }
    else{
        toggleMenuClick()
    }


    
    $("#id_choice_0").click(function(){
        toggleMenuClick()

    })
    $("#id_choice_1").click(function(){
        toggleMenuClick1()

    })


     </script>
    
    
    
    
    </div>
</div>

{% endblock content %}
<script>
    var radio0 = document.getElementById("id_choice_0")
    var radio1 = document.getElementById("id_choice_1")
    radio0.classList.add("float-right");
    radio1.classList.add("float-right");
    console.log("hello")
</script>